<h3><span class="title"><%= link_to post.title, post, id:"titleP"%></span></h3>
<ol id="post-<%=post.id %>" class="posts">
    <%= link_to gravatar_for(post.user, size: 50), post.user %>
    <span class="user">Creado por: <%= link_to post.user.name, post.user%></span><br><br>
    <span class= "content">
        <%= post.content %>
        <%= image_tag post.picture.url if post.picture?%>
    </span>
    <span class= "timestamp">
        Publicado hace <%= time_ago_in_words (post.created_at) %>.<br><br>
        <% if current_user?(post.user) %>
            <%= link_to "Eliminar" ,
                    post,
                    id:"delite-report",
                    method: :delete,
                    data: {confirm: "¿Esta seguro?"}%>
        <%else%>
            <%= link_to "Reportar" ,
                    new_post_report_url(post_id: post.id),
                    id:"delite-report",
                    method: :get %>
            <%= link_to "Contactar vendedor!" ,
                    conversations_path(sender_id: current_user.id, recipient_id: post.user.id),
                    id:"buy-notification",
                    method: :post %>
       <%end%>
    </span>
</ol>
